# dependencies
node_modules
client/node_modules
server/node_modules

# environment variables
.env
.env.*
!.env.example
**/.env
**/.env.*
!**/.env.example

# build folders
dist
build

# logs
*.log
logs

# OS files
.DS_Store
Thumbs.db