NODE_ENV=development
PORT=5000
MONGO_URL=mongodb://127.0.0.1:27017/filmfeed
JWT_SECRET=replace_with_a_long_random_secret
JWT_EXPIRES_IN=7d
CLIENT_ORIGIN=http://localhost:5173
TMDB_READ_ACCESS_TOKEN=replace_with_tmdb_read_access_token
TMDB_API_KEY=replace_with_tmdb_api_key
CLOUDINARY_CLOUD_NAME=replace_with_cloudinary_cloud_name
CLOUDINARY_API_KEY=replace_with_cloudinary_api_key
CLOUDINARY_API_SECRET=replace_with_cloudinary_api_secret
